.overview {
    display: flex;
}

.tweet-table {
    width: 70%;
}

.tweet-group {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    display: block;
    padding: 1rem;
    margin-top: 0.2rem;
}

.tweet-value {
    word-break: break-word;
}
